<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form id="formSubmit">
    <table border="1">
        <tbody>
        <tr>
            <td>Number a:</td>
            <td><input type="number"/></td>
        </tr>
        <tr>
            <td>Number b:</td>
            <td><input type="number"/></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Result:</th>
            <td></td>
        </tr>
        </tfoot>
    </table>
    <input type="submit" value="Calculate"/>
    <input type="reset" value="Reset"/>
</form>

<script>

</script>
</body>
</html>